*~
*.o
*.elf
*.map
*.lds
*.hex
kernel/fs/version

# CMSIS is managed as an external dependency
include/cmsis

# Travis-CI, unit test framework, platform tests
test

# Some parts of the buildsystem can generate log files
*.log
